@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#logoUnifesspa
{
  position: relative;
  left: 50%;
  transform: translate(-63%, -0%);
  width: 120px;
}
#coluna-1
{
  margin-right: 40px;

}
#coluna-2
{
  margin-left: 40px;

}
.cabecalho
{
  border-bottom: 1px black solid;
}
.cabecalho h3
{
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 10pt;
  font-weight: bold;
}
form
{
  width: 900px;
  margin: auto;
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
}
#paginaFormulario
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.container-opcoes
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.botao
{
  position: relative;
  left: 47%;
  transform: translate(-58%, 0%);
  width: 250px;
  background-color: rgba(120,191,58,1);
  padding: 10px;
  border-radius: 06px;
  width: 15%;
  color: white;
  font-size: 09pt;
  border: none;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.campoTexto
{
  border-radius: 5px;
  border: none;
  background-color: rgba(166, 166, 166, 0.4);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.container
{
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
.container-opcao
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}
.inputRadio
{
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
p
{
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
#campoDeSugestao
{
  width: 62%;
  height: 67px;
}
.botao:hover
{
  cursor: pointer;
}
@media (min-width: 359px) and (max-width: 415px)
{
  #logoUnifesspa
  {
    width: 100px;
    transform: translate(-58%, -0%);
  }
  .cabecalho h3
  {
    font-size: 08pt;
  }
  form
  {
    width: 100%;
  }
  #coluna-1
  {
    margin-right: 0px;
  }
  #coluna-2
  {
    margin-left: 0px;
  }
  .botao
  {
    width: 30%;
    transform: translate(-50%, 0%);
    margin-top: 30x;
  }
  .container-opcao
  {
    text-align: center;
    justify-content: center;
  }
  .labelInputRadio
  {
    font-size: 07pt;
    text-align: center;
  }
  p
  {
    font-size: 07pt;
  }
  .inputRadio
  {
    margin-left: 0px;
    margin-right: 0px;
  }
  #campoDeSugestao
  {
    width: 74%;
    height: 35px;
  }
  .boxAvaliacao
  {
    margin-bottom: 30px;
  }
  .campoTexto
  {
    margin-bottom: 24px;
  }
}
@media (min-width: 819px) and (max-width: 911px)
{
  form
  {
    width: 100%;
  }
  .container-opcao
  {
    margin-bottom: 35px;
  }
  .botao
  {
    margin-top: 0px;
  }
  .campoTexto
  {
    margin-bottom: 65px;
  }
  #logoUnifesspa
  {
    transform: translate(-70%, -0%);
  }
  #campoDeSugestao
  {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
  }
  #coluna-1
  {
    margin: 0px;
  }
  #coluna-2
  {
    margin: 0px;
  }
}
@media (min-width: 767px) and (max-width: 819px)
{
  form
  {
    width: 100%;
  }
  .container-opcao
  {
    margin-bottom: 35px;
  }
  .botao
  {
    margin-top: 0px;
  }
  .campoTexto
  {
    margin-bottom: 65px;
  }
  #logoUnifesspa
  {
    transform: translate(-70%, -0%);
  }
  #campoDeSugestao
  {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 38px;
  }
}
@media (min-width: 911px) and (max-width: 1023px)
{
  form
  {
    width: 100%;
  }
  .container-opcao
  {
    margin-bottom: 35px;
  }
  .botao
  {
    margin-top: 0px;
  }
  #logoUnifesspa
  {
    transform: translate(-70%, -0%);
  }
  #campoDeSugestao
  {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
  }
  .campoTexto
  {
    margin-top: 0px;
    margin-bottom: 65px;
  }
}
@media (min-width: 539px) and (max-width: 766px)
{
  form
  {
    width: 100%;
  }
  .container-opcoes
  {
    margin-bottom: 25px;
  }
  #coluna-1
  {
    margin-right: 0px;
  }
  .botao
  {
    margin-top: 0px;
  }
  .campoTexto
  {
    margin-top: 0px;
    margin-bottom: 22px;
  }
  #logoUnifesspa
  {
    transform: translate(-70%, -0%);
  }
  #campoDeSugestao
  {
    margin-top: 0px;
    height: 35px;
  }
}

